*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#header{
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
  
    background-color: #1F2937;
}
header{
    width: 60%;
    height: 75vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    margin: 0 auto;
}
.navbar ul{
    display: flex;
    gap: 16px;
}
.navbar ul li{
    list-style: none ;
    font-size: 18px;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #E5E7EB;
    
}
.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header-content{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.header-container p{
    font-size: 18px;
    color: #E5E7EB;
}
.header-container h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.header-img{
    background-color: 6D747D;
    width: 400px;
    height: 200px;
}
.sign-up{
    background-color: #3B82F6;
    padding: 8px 32px;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: 600;
    margin: 8px 0;
    border: none;
}
/* ABOUT SECTIONS */
#about{
    width: 100%;
    height: 50vh;

}
#about h1{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 32px auto;
}
.about-img{
    width: 150px;
    height: 160px;
    border: 4px solid #3B82F6;
    border-radius: 16px;
}
.about-content{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: center;
}
.about-container p {
    width: 150px;
    margin: 0 auto;
    text-align: center;
    color: #4C5664;
    padding: 8px 0;
}
/* Third Section */
#quote{
    background-color: #E5E7EB;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote{
    width: 50%;
    font-size: 36px;
    font-style: italic;   
    color: #1f2937b1;
    margin: 0 auto;
}
.credits {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 16px;
    font-size: 16px;
    margin: 0 auto;
    width: 50%;
    font-weight: 600;
    color: #1F2937;
}
/* CALL TO ACTION SECTION */
#cat{
    width: 100%;
    height: 35vh;
    background: #eee;
    display: flex;
}
.cat-container{
    display: flex;
}